.custom {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    margin: 10px;
    border: white 20px;
    transition: 3s;

}
.custom:hover{
    transform: rotate(360deg);
    border-radius: 50%;
    

}

.custom1 {
    width: 28rem;

}

.bg-custom {
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

}
.carta1:active{
    transform: translate(150px);

}
.carta3:active{
    transform: translate(-150px);

}